@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    margin: 0;
    width: 100%;
    min-width: 700px;    
}

body {
    font-family: Arial;
    margin: 0;
    min-width: 700px;
    
}

/*HEADER*/
.header {
    background-color: aliceblue;
    min-width: 100%;
    min-height: 90px;
    z-index: 5000;
    display: grid;
    grid-template-columns: 2fr 0.5fr 4fr;    
}

.fixed {
    z-index: 5000;
    position: fixed;
}

.headerTop {
    height: 138px;
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogoText {
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 4.2em;
    color: #143C6B;
}
@media screen and (max-width: 1200px) {

    .LogoText{
        font-size: 2.2em;
    }
  }
@media screen and (max-width: 800px) {

    .LogoText{
        font-size: 1.6em;
    }
}
.LogoRectangle {
    height: 50px;
    width: 50px;
    background: linear-gradient(147deg, #447ec1 10%, #143C6B 72%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 10px;
}

.box3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.navlink {
    margin: 10px;
    font-family: 'Montserrat';
    font-size: 1.8em;
    transition: color 0.2s linear;
    text-decoration: none;
    color: #143C6B;
}

.navlink:hover {
    color: blue;
}


.line {
    height: 44px;
    width: 2px;
    background-color: #ACCCF1;
    margin-top: 3px;
}

/*FIRST BAVKGROUND*/

.background1 {
    background: url("../images/Rectangle1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 51.1em;
}

.backBox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.backBox21 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: url("../images/fin.jpg");
    height: 51.1em;
    width: 38.3em;
}


.shortInfo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 5.2em;
    line-height: 138.9%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
@media screen and (max-width: 1200px) {
    .shortInfo {
        padding-left: .5em;
        padding-right: .5em;
        font-size: 3.8em;
    }
}
@media screen and (max-width: 800px) {

    .shortInfo{
        padding-left: .5em;
        padding-right: .5em;
        font-size: 3.0em;
    }
}

.inBox1 {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.backLink {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4em;
    line-height: 166.4%;
}
/*others backgrounds*/
.background2 {
    background: url("../images/Rectangle2.jpg");
    background-size: cover;
    background-position: center;
    height: 30em;
}

.background3 {
    background: url("../images/Rectangle3.jpg");
    background-size: cover;
    background-position: center;
    height: 18.5em;
}

.gradientBackground {
    background: linear-gradient(180deg, #102D66 0%, #360842 100%);
    min-height: 824px;
}
/* content text */
.content {    
    margin: 6em 20% 6em 20%;
}

.content > div{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
}

.content > br {
    content: "A" !important;
    display: block !important;
    margin-bottom: 3em !important;
}

@media screen and (max-width: 1200px) {
    .content {
        margin: 6em 10% 6em 10%;
    }
}
@media screen and (max-width: 800px) {

    .content{        
        margin: 2em 5% 2em 5%;
        font-size: 1.5em;
    }
}


/* coemnts block*/
.commentsBlock {
    margin-top: 45px;
    line-height: 166.4%;
    letter-spacing: 0.07em;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.stroke {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    background: #E9F4F8;
    padding: 20px;
    min-width: 450px;
    max-width: 800px;
}

.right {
    display: grid;
    grid-template-rows: 30px 3fr;
}

.name_leavetime {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {
    .commentsBlock {
        font-size: 2.5em;
    }
}
@media screen and (max-width: 800px) {

    .commentsBlock{
        font-size: 3em;
    }
}

/*footer styles*/

.footer {    
    text-align: center;
    color: #ffffff;
    background: #102D66;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px 5% 15px 5%;
}

.logo_with_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 4.2em;
    letter-spacing: 0.065em;
}